.call{
  background: rgb(226, 91, 91);
  color: rgb(28, 28, 66);
  font-size: 60px;
  position: fixed;
  top: 5%;
  left: 6%;
  z-index: 1000;
  border-radius: 20px;
}
.button{
  position: fixed;
  top: 1%;
  left: 90%;
}